<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>628425052563-kumj0ou0olagkj8mhi8t5q90lb5c6h2s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.628425052563-kumj0ou0olagkj8mhi8t5q90lb5c6h2s</string>
	<key>API_KEY</key>
	<string>AIzaSyBjECIuGy__tzImi7GzVGF_zQV3FAaZTJ0</string>
	<key>GCM_SENDER_ID</key>
	<string>628425052563</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Kyle.TwitterPractice</string>
	<key>PROJECT_ID</key>
	<string>twitterpractice-57255</string>
	<key>STORAGE_BUCKET</key>
	<string>twitterpractice-57255.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:628425052563:ios:50072d7ae577b67f15d866</string>
</dict>
</plist>